*{
  box-sizing: border-box;
}
body{
  background-color: #292929!important;
}
.text-secondary{
  color: #A7A7A7!important;
}
.single_product{
  transition: 1s ease;
}
.single_product:hover{
  transform: scale(1.1);
}