*{
  box-sizing: border-box;
}
body{
  background-color: #292929!important;
}
.text-secondary{
  color: #A7A7A7!important;
}
.single_product{
  transition: 1s ease;
}
.single_product:hover{
  transform: scale(1.1);
}
select{
  width: 100%;
  height: 2.5rem;
  background-color: #292929;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}
